<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>ASMR</title>
</head>
<body>

    <!-- Header Section -->
    <header>
        <!-- First Image Button -->
        <form action="Home-Page" method="get">
            <button type="submit">
                <img src="logo.jpg">
            </button>
        </form>

        <!-- Search Bar -->
        <form action="FoodDis" method="get">
            <input type="text" placeholder="Search..." name="search">
        </form>

        <!-- Second Image Button -->
        <form action="Profile" method="get">
            <button type="submit">
                <img src="profile.png" alt="Profile Button">
            </button>
        </form>
    </header>

    <!-- Sorting Buttons Section -->
    <section>
        <button type="submit" name="sort" value="appetizers">Appetizers</button>
        <button type="submit" name="sort" value="main-course">Main Course</button>
        <button type="submit" name="sort" value="drinks">Drinks</button>
        <button type="submit" name="sort" value="desserts">Desserts</button>
    </section>

    <!-- Help Section, NOTE: THERES NO FAQ.html YET. TO BE ADDED LATER. ADDED A PLACEHOLDER -->
    <section>
        <p>Need Help? <a href="https://matias.me/nsfw/">Click Here</a></p>
    </section>

    <!-- Food Image Buttons Section -->
    <section>
        <!-- First Food Item -->
        <form action="FoodDis" method="get">
            <button type="submit">
                <img src="Menu-Item1.jpg" alt="Menu Item 1" >
                <p>Food Name: </p>
                <p>Price: </p>
                <p>Description: </p>
            </button>
        </form>

        <!-- Second Food Item -->
        <form action="FoodDis" method="get">
            <button type="submit">
                <img src="Menu-Item2.jpg" alt="Menu Item 2">
                <p>Food Name</p>
                <p>Price: </p>
                <p>Description: </p>
            </button>
        </form>

        <!-- Third Food Item -->
        <form action="FoodDis" method="get">
            <button type="submit">
                <img src="Menu-Item3.jpg" alt="Menu Item 3" >
                <p>Food Name</p>
                <p>Price: </p>
                <p>Description:</p>
            </button>
    </section>

        </form>
    
    <!-- See More Button -->
    <section>
            <button type="submit">See More</button>
        </form>
    </section>
    
        

</body>
</html>
