<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>ASMR</title>
</head>
<body>

    <!-- First Image Button -->
    <form action="Home-Page" method="get">
        <button type="submit" style="border: none; background: none; padding: 2;">
            <img src="ome.png" alt="Home Page" >
        </button>
    </form>

    <!-- Second Image Button -->
    <form action="Menu" method="get">
        <button type="submit" style="border: none; background: none; padding: 2;">
            <img src="enu-icon.png" alt="Return to Menu" >
        </button>
    </form>

    <!-- Image Placeholder -->
    <img src="profile-icon.jpg" alt="Profile Image" >

    <!-- Third Image Button NOTE: NO EDIT IMAGE (edit-image.html) YET. ADDED PLACEHOLDER TO PREVENT 404 CRASH-->
    <form action="https://matias.me/nsfw/" method="get">
        <button type="submit" style="border: none; background: none; padding: 0;">
            <img src="encil.png" alt="Edit Profile Photo" >
        </button>
    </form>

    <!-- Third Image Button -->
    <form action="Home-Page" method="get">
        <button type="submit" style="border: none; background: none; padding: 0;">
            <img src="ign-out.png" alt="Home Page" >
        </button>
    </form>

    <!-- Sign In Form -->
    <form>
        <!-- First Name Label and Input -->
        <label for="first-name">First name:</label><br>
        <input type="text" id="first-name" name="first-name"  autofocus><br><br>

        <!-- Last Name Label and Input -->
        <label for="last-name">Last name:</label><br>
        <input type="text" id="last-name" name="last-name" ><br><br>

        <!-- Contact No. and Input -->
        <label for="contact-no">Contact No.:</label><br>
        <input type="contact-no" id="contact-no" name="contact-no" ><br><br>

        <!-- Password Label and Input -->
        <label for="password">Password:</label><br>
        <input type="password" id="password" name="password" ><br><br>

        <!-- Email and Input -->
        <label for="email">Email:</label><br>
        <input type="email" id="email" name="email" ><br><br>

        <!-- Address and Input -->
        <label for="phys-add">Physical Address:</label><br>
        <input type="phys-add" id="phys-add" name="phys-add" ><br><br>


        <!-- Additional Text and Password Guidelines -->
    <div>
        <p>*Must include:</p>
        <ul>
            <li>8 characters minimum</li>
            <li>Uppercase letter</li>
            <li>Lowercase letter</li>
            <li>Special characters</li>
            <li>Numbers</li>
        </ul>
    </div>

        <!-- Fifth Image Button NOTE: SAME NOTE ON HERE -->
    <form action="https://matias.me/nsfw/" method="get">
        <button type="edit" style="border: none; background: none; padding: 0;">
            <img src="encil.png" alt="Edit Info" >
        </button>
    </form>

        <!-- Fifth Image Button -->
    <form action="Home-Page" method="get">
        <button type="home" style="border: none; background: none; padding: 0;">
            <img src="ogo.jpg" alt="Home Page" >
        </button>
    </form>
</body>
</html>
