{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>ASMR</title>
</head>
<body>

    <!-- Registration Links aligned horizontally -->
    <div class="auth-buttons">
        <form action='LogIn' method="get">
            <button type="submit">Log In</button>
        </form>
        <form action='Register' method="get">
            <button type="submit">Sign Up</button>
        </form>
    </div>

    <!-- Background video -->
    <video autoplay muted loop id="background-video">
        <source src='{%static "Media/load.mp4"%}' type="video/mp4">
        Your browser does not support the video tag.
    </video>

    <!-- Header with an image and sign-in/sign-up buttons -->
    <header>
        <img src='{%static "Media/ASMR-logo.jpg"%}' height="150 px" width="190 px" alt="Shop Logo">
    </header>

    <!-- Sign In Form with ORDER NOW button -->
    <div class="order-button">
        <form action="Menu" method="get">
            <button type="submit">ORDER NOW!</button>
        </form>
    </div>

    <!-- Footer with an image button -->
    <footer>
        <form action="LogIn" method="get">
            <button type="submit">
                <img src='{%static "Media/ASMR-logo.jpg"%}' height="50 PX" width="90 px" alt="Footer Logo Button">
            </button>
        </form>
        <p>&copy; 2024 All rights reserved</p>
    </footer>

</body>
</html>
