{% extends "Header-Footer.html" %}  <!-- Base Template -->

{% block title %}
    Register
{% endblock %}

{% block content %}
{% load static %}
    <h1>Hungry? Login now!</h1>

    {% if error_message %}
        <div style="color: red;">  <!-- Style it as needed -->
            {{ error_message }}
        </div>
    {% endif %}

    <!-- Sign In Form -->
    <form action="LogIn" method="POST">
        {% csrf_token %}
        {{ form.as_p }}
        <!-- Email Label and Input -->
        <div>
            <label for="email">Email:</label><br>
            <input type="email" id="email" name="email" required>
        </div>

        <!-- Password Label and Input -->
        <div>
            <label for="password">Password:</label><br>
            <input type="password" id="password" name="password" required>
        </div>

        <!-- Sign In Button -->
        <button type="submit">Sign In</button>
    </form>

    <!-- Registration Link -->
    <div>
        <a href="ForgetPass">Forgot Password?</a>
    </div>
    <div>
        <a href="Register">Don't have an account? Register here.</a>
    </div>

{% endblock %}
