<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Verify Email</title>
</head>
<body>
    <h2>Code Verification</h2>
    <h2>Enter Your Code</h2>
    <form action="ResetPassword" method="POST">
        <input type="text" name="code" placeholder="Enter your code here" required>
        <button type="submit">Submit</button>
    </form><br><br>
    <form action="LogIn" method="get">
        <button type="submit">Cancel</button>
    </form><br><br>
</body>
</html>