<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>New Password</title>
    <script>
        
        // Function to show the pop-up notification
        function showNotification(event) {
            event.preventDefault();
            alert("Password has been changed. Redirecting to the login page.");
            goto();
        }
        
        // Function to redirect to another HTML file (e.g., success.html)
        function goto() {
            
            var urllogin = "{% url 'LogIn' %}";
            window.location.href = urllogin;  // Redirects to another HTML file
        }
    </script>
                
</head>
<body>

    <h2>New Password</h2>
    <h4>Please enter your own password</h4>
    <form onsubmit="showNotification(event)">
        <label for="password">Enter your password:</label><br><br>
        <input type="password" id="password" placeholder="Enter password"><br><br>

        <input type="checkbox" id="togglePassword"> Show Password<br><br>


        <label for="password">Re-enter password:</label><br><br>
        <input type="password" id="confirmPassword" placeholder="Re-enter password"><br><br>

        <input type="checkbox" id="togglePasswordC"> Show Password<br><br>

        <button type="submit">Change Password</button>
    </form>


</body>
</html>
